pydantic
torch
open-clip-torch
faiss-cpu
numpy
pandas
matplotlib
opencv-python
fastapi
deep_translator
gradio
python-dotenv
scikit-learn
flask-cors
git+https://github.com/openai/CLIP.git
ftfy
regex 
tqdm 